hyprland
kitty
cava
xorg-xwayland
xdg-desktop-portal-hyprland
hyprland-qt-support
polkit-kde-agent
dolphin
qt6-wayland
qt5-wayland
kvantum
kvantum-qt5
kvantum-theme-materia
papirus-icon-theme
materia-kde
materia-gtk-theme
kitty
nactalia
playerctl
quickshell
sddm
gwenview
elisa
haruna

#ParchRepo
parch-hyprland-cheatsheet
hyprmod
qt6ct-kde
ttf-google-sans
