
#Desktop
xorg
bash-completion
networkmanager
parch-grub
dastore
shelly
parch-base-config
pdm
parch-welcome
parch-kernel-manager
parch-iso-writer
parchdroid
pacman-contrib
uwsm
breeze-cursors

#systemutils
btop
kate
mirrorman
kate
dolphin
dolphin-plugins
xdg-user-dirs
neofetch-git
android-file-transfer
gvfs-mtp
broadcom-wl-dkms
vulkan-radeon
ark
unzip
unrar
ttf-vazirmatn
ttf-vazircode
gparted
gwenview
okular


#parchlinuxstuff
calamares
calamares-parch
os-prober
paru
parch-branding
parch-grub
parch-printer
parch-bluetooth
parch-pacman-next
parch-emoji-ios
parch-wallpapers
parch-plymouth
plymouth
boost
power-profiles-daemon
fastfetch


#Hyprland
hyprland
cava
xorg-xwayland
xdg-desktop-portal-hyprland
hyprland-qt-support
polkit-kde-agent
qt6-wayland
qt5-wayland
kvantum
kvantum-qt5
kvantum-theme-materia
papirus-icon-theme
materia-kde
materia-gtk-theme
kitty
noctalia
playerctl
quickshell
sddm
gwenview
elisa
haruna
parch-hyprland-cheatsheet
hyprmod
qt6ct-kde
ttf-google-sans
